# ./
*
!.gitignore
!.profile
!.zshrc
!README.md
!setup.sh

# ./.config
!.config/
!.config/mimeapp.list
!.config/starship.toml
!.config/user-dirs.dirs

# ./.config./git
!.config/git/
!.config/git/gitignore

# ./.config./i3
!.config/i3/
!.config/i3/config
!.config/i3/i3blocks.conf

# ./.config./i3/scripts
!.config/i3/scripts/
!.config/i3/scripts/battery
!.config/i3/scripts/cpu_temperature
!.config/i3/scripts/gpu_temperature
!.config/i3/scripts/gpu_vram

# ./.config./wal
!.config/wal/

# ./.config./wal/templates
!.config/wal/templates/
!.config/wal/templates/dunstrc

# ./.local
!.local/

# ./.local/bin
!.local/bin/
!.local/bin/change-background
!.local/bin/custom-scrot
!.local/bin/picture-of-the-day

# ./Pictures
!Pictures

# ./Wallpapers
!Pictures/Wallpapers/
!Pictures/Wallpapers/*
