# Executables.
export PATH="${PATH}:${HOME}/.local/bin"

# Apps.
export TERMINAL=kitty
export BROWSER=google-chrome

# Themes.
export QT_QPA_PLATFORMTHEME=qt5ct

# Python.
export PYTHONUNBUFFERED=1
export PYTHONDONTWRITEBYTECODE=1
