# GNOME Keyring.
eval "$(gnome-keyring-daemon --start)"

# Themes.
export QT_QPA_PLATFORMTHEME=qt5ct

# Executables.
export PATH="${PATH}:${HOME}/.local/bin"

# Apps.
export TERMINAL=kitty
export BROWSER=google-chrome-stable

# SSH.
export SSH_AUTH_SOCK="${XDG_RUNTIME_DIR}/ssh-agent.socket"

# Python.
export PYTHONUNBUFFERED=1
export PYTHONDONTWRITEBYTECODE=1
